<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login APIs Swagger</title>

    <script src="{{ url_for('static_files', filename='jquery-3.7.0.min.js') }}"></script>

    <script src="{{ url_for('static_files', filename='jquery_confirm/jquery-confirm.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static_files', filename='jquery_confirm/jquery-confirm.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static_files', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static_files', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static_files', filename='axios/axios.min.js') }}"></script>
</head>
<body>
    
</body>
</html>